# Introduction to Python Syntax

Basic data types in Python:
- int
- str
- float

In [4]:
type(14)

int

In [5]:
type(14.7)

float

In [6]:
type("Hello, World!")

str

In [7]:
type('Hello, World!')

str

Collection types in Python:
- list
- tuple
- dictionary

## Python lists

In [9]:
[14]

[14]

In [10]:
[14, 14.7]

[14, 14.7]

In [11]:
[14, 14.7, "Hello, world!"]

[14, 14.7, 'Hello, world!']

In [12]:
type([])

list

assign list to variable, identity, and memory

In [21]:
a = [1, 2, 3]
a

[1, 2, 3]

In [22]:
b = a
b

[1, 2, 3]

Basic indexing

In [23]:
a[0] = -1
a

[-1, 2, 3]

In [24]:
b

[-1, 2, 3]

In [25]:
id(a)

1994763023880

In [26]:
id(b)

1994763023880

In [27]:
c = [-1, 2, 3]

In [28]:
id(c)

1994763030728

Appending to a list

In [29]:
guests = ['Alice', 'Bob', 'Charlie']
guests

['Alice', 'Bob', 'Charlie']

In [31]:
guests.append('Daniel')

In [32]:
guests

['Alice', 'Bob', 'Charlie', 'Daniel']

Combining lists

In [33]:
guests1 = ['Alice', 'Bob']
guests2 = ['Charlie', 'Daniel']

guests1, guests2

(['Alice', 'Bob'], ['Charlie', 'Daniel'])

In [38]:
guests = guests1 + guests2
guests

['Alice', 'Bob', 'Charlie', 'Daniel']

In [36]:
guests = guests2 + guests1
guests

['Charlie', 'Daniel', 'Alice', 'Bob']

Slice indexing

In [43]:
guests[:2]  # Get first two guests (shorthand for guests[0:2])

['Alice', 'Bob']

In [49]:
guests[-1]  # Get the last guest in the list

'Daniel'

In [53]:
guests[-2:]  # Get the last two guests in the list

['Charlie', 'Daniel']

Getting the length of a list

In [54]:
len(guests)

4

# Python tuples

In [56]:
guests = ('Alice', 'Bob', 'Charlie')
guests

('Alice', 'Bob', 'Charlie')

In [58]:
guests[0] = 'Daniel'  # Errors because tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [59]:
len(guests)

3

In [60]:
guests[0]

'Alice'

## Python dictionaries

In [66]:
d = {'a': 0,
     'b': 1,
     'c': 2}
d

{'a': 0, 'b': 1, 'c': 2}

Get all keys available with .keys()

In [67]:
d.keys()

dict_keys(['a', 'b', 'c'])

Get all values available with .values()

In [68]:
d.values()

dict_values([0, 1, 2])

In [70]:
d['c']

2

In [72]:
d['d'] = 3
d

{'a': 0, 'b': 1, 'c': 2, 'd': 3}